body {
}

@media (max-width: 768px){
    .heading{
        text-align: left !important;
        padding-left: 50px !important;
        font-size: 32px !important;
        padding-bottom:10px !important;    
    }
    #education {
        height: 550px !important;
    }
    .Masters{
        padding-left: 70px !important;
    }
    .BE{
        padding-left: 70px !important;
    }
    .EducationDegree, .SkillHeader, .ExpHeader, .ProjectHeader{
        font-size: 28px !important;
    }
    #skills {
        height: 600px !important;
    }    
    .SkillHeader{
        padding-left: 70px !important;
        padding-bottom: 10px !important;
    }
    .SkillData{
        padding-left: 80px !important;
    }
    #experience{
        height: 900px !important;
    }
    #contact {
        padding-top: 10px !important;
    }
    /*.EducationDegree, .EducationSchool, .SkillHeader, .SkillData, .ExpHeader, .ExpData, .ProjectLanguage, .ProjectHeader, .ProjectData{
        font-size: 22px !important;
        /*padding: 2px !important;
    }*/    
}
@media (max-width: 414px){

    .heading{
        
        padding-left: 70px !important;
        font-size: 28px !important;
        padding-bottom:10px !important;    
    }
    #education {
        height: 500px !important;
    }
    .Masters{
        padding-left: 70px !important;
    }
    .BE{
        padding-left: 70px !important;
    }
    .EducationDegree, .SkillHeader, .ExpHeader, .ProjectHeader{
        font-size: 25px !important;
    }
    .EducationSchool{
        font-size: 22px !important;   
    }
    #skills {
        height: 600px !important;
    }    
    .SkillHeader{
        padding-left: 70px !important;
        padding-bottom: 10px !important;
    }
    .SkillData{
        font-size: 22px !important;
        padding-right: 20px !important;   
    }
    #experience{
        height: 850px !important;
    }
    .ExpDesc, .ExpData{
        text-align: left !important;
        padding-left:30px !important;
        padding-right: 20px !important;
        font-size: 20px !important;
    }
    #projects{
        height: 2150px !important;
    }
    .ProjectLanguage{
        padding-left:30px !important;
    }
    .ProjectHeader, .ProjectData{
        padding-right: 20px !important;
        padding-left:30px !important;
        font-size: 20px !important;
    }
    #contact {
        padding-top: 10px !important;
    }
    /*.EducationDegree, .EducationSchool, .SkillHeader, .SkillData, .ExpHeader, .ExpData, .ProjectLanguage, .ProjectHeader, .ProjectData{
        font-size: 22px !important;
        /*padding: 2px !important;
    }*/    
}

.navbar {
    height:65px !important;
    transition: top 0.2s ease-in-out;
}
.navbar-brand {                
    color:#009688;
    font-family: 'Dosis', cursive;
    font-size: 30px;
    padding-top: 2px;
}
.navbar-brand img{
    height:60px; 
}
#main-content{
    overflow-y: scroll;
    font-family: 'Poiret One', cursive;
    margin-top:65px;
    color:white;
    background: url('Images/blackboard.jpg') no-repeat fixed;
    min-height: 100%;
    background-size: cover;
    
}
.nav>li>a:hover{
    background-color: #DCEDC8;
}
.icon{
    color:#009688;
}
.icon-bar{
     background-color:#009688;    
}
.nav a:active {
    border-bottom: 5px solid #009688;
}
.fa-github:hover {
    color: #9CCC65;
}
.fa-linkedin-square:hover {
    color: #1565C0;
}
.fa-phone:hover {
    color: #CCFF90;
}
.nav-up {
    top: -65px;
}
.content
{
    padding-left:2%;
}
.heading{
    text-decoration: underline;
    text-align: center;
    color: #64B5F6;
    font-weight:bolder;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom:40px;
}
#education {
    padding-top:30px;
    height:400px;
}
.EducationDegree{
    text-decoration: underline;
    font-weight:900;
    color:#CE93D8;
}
.EducationSchool{
    font-size:30px;
}
.Masters{
    padding-left: 250px;
}
.BE{
    padding-left: 100px;
}
#skills {
    padding-top:30px;
    height:500px;
    color: black; 
}
.SkillHeader{
    padding-left:200px;
    font-size:30px;
    width:auto;
    font-weight:900;    
    color:#CE93D8;
}
.SkillData{
    padding-right:150px;
    color:white;     
    font-size:30px;
    width:auto;
}
.SkillLink{
    color: #CE93D8;
    text-decoration: none;
}
.SkillDataLink{
    color: white;
    text-decoration: none;    
}
a.SkillLink:hover {
    text-decoration: none;
    color: grey;
}
#experience {
    padding-top:30px;
    height:700px;
}
.ExpHeader{
    text-decoration: underline;
    color: #CE93D8;
    font-weight:900;
    font-size:25px;
    text-align: center;
}
.ExpDesc{
    color:#FFD54F; 
    font-weight:900;
    font-size:25px;
    text-align: center;
}
.ExpData{
    font-size:25px;
    color:white;
    font-weight:900;
    text-align: justify;
    padding-left:100px;
    padding-right:100px; 
} 
#projects {
    padding-top:30px;
    height:1700px;
    color: white; 
}
.ProjectLanguage{
    color:#CE93D8; 
    font-weight:900;
    font-size:25px;
    text-align: center;
    padding:10px 100px;
}
.ProjectHeader{
    color:#FFD54F; 
    font-weight:900;
    font-size:25px;
    text-decoration: underline;
    padding:10px 100px;
}
.ProjectData{
    font-size:25px;
    color:white;
    font-weight:900;
    padding:0 100px 20px 100px;
}
a.ProjectLink{
    color: #FFD54F;   
}
hr { 
    background-color: white; height: 2px; border: 5; width:50%;
}
#contact {
    padding-top:20px;
    padding-bottom: 40px;
    height:150px;
    color: white;
    text-align: center;    
}