body {
    /*position: relative;*/
}
.navbar {
    height:65px !important;
    transition: top 0.2s ease-in-out;
}
#main-content{
    font-family: 'Poiret One', cursive;
    margin-top:65px;
}

.icon{
    font-size: 30px !important;
    color:#009688;
}
.icon-bar{
     background-color:#009688;    
}

.nav a:active {
    border-bottom: 5px solid #009688;
}

.fa-graduation-cap:hover{
     color: #800080;
}
.fa-wrench:hover{
    color: #BDBDBD;
}
.fa-github:hover {
    color: #9CCC65;
}
.fa-linkedin-square:hover {
    color: #1565C0;
}
.nav-up {
    top: -65px;
}
.content
{
    padding-left:2%;
}
#about {
    padding-top:60px;
    height: 700px;
    color:black; 
    background-color:#E0F7FA;
}

#about img{
    width: 100%;
    height: 950px;
    opacity: 0.5;
}
/*#iabout{
   position: absolute; 
   top: 200px; 
   left: 500; 
   width: 100%; 
   color:white; 
}*/

#education {
    padding-top:30px;
    height:500px;
    color: black; 
    background-color: #B2EBF2;
}
#skills {
    padding-top:30px;
    height:500px;
    color: black; 
    background-color: #B2DFDB;
}
#experience {
    padding-top:30px;
    height:500px;
    color: black; 
    background-color: #80DEEA;
}

#projects {
    padding-top:30px;
    height:1000px;
    color: black; 
    background-color: #80CBC4;
}